html {
	height: 100%;
}
body {
	display: flex;
	margin: 0.5em;
	height: calc(100% - 0.5em);
	flex-direction: column;
}
body > div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.wordheader {
	background-color: red;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0.3em;
	border-radius: 0.3em;
	margin: 1em 0;
}
.main > div {
	flex-grow: 1;
	width: 100%;
}
img {
	max-height: 60vh;
	height: 100%;
	max-width: 100%;
	min-width: 10em;
}




@media (max-width: 930px) {
	html {
		font-size: 2.5em;
	}
}